@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #02202c;
    color: #DAFFFB;
}

.titulo-destaque {
    color: rgb(44, 235, 216);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
    gap: 40px;
}

.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao_conteudo_paragrafo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
}

.apresentacao_links_link {
    background-color: rgb(44, 235, 216);
    width: 220px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_imagem {
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}