@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #02202c;
    color: #DAFFFB;
}

.titulo-destaque {
    color: rgb(44, 235, 216);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
}

.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao_conteudo_texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_conteudo_paragrafo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao_links_link {
    /* background-color: rgb(44, 235, 216); */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid rgb(44, 235, 216);
    width: 378px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #DAFFFB;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_links_link:hover {
    background-color: #04384d;
}

.apresentacao_imagem {
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}

.rodape {
    color: #000000;
    background-color: rgb(44, 235, 216);
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.cabecalho {
    padding: 2% 0 0 10%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgb(44, 235, 216);
}